@import '_images';
@import '_var';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(228, 234, 235);
}
h1 {
  font-size: 100px;
  color:$primary
}

.card {
  min-height:60vh;
  max-height: 60vh;
  overflow: hidden;
  background-color: rgb(246, 246, 246);
  display:flex;
  justify-content: space-between;
  flex-direction: column;


}
.card-text {

}

.card-body {
  height:50%;

}

.card-img {
  height: 300px;
  object-fit: cover;
}
